.app {
  height: auto;
}
.btn {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #0c6cf9;
  color: azure;
}

.btn:hover {
  transform: scale(1);
  color: #0c6cf9;
  background-color: azure;
}

.tree {
  margin-right: 150px;
}

.toggler {
  margin-right: 20vh;
  margin-top: -25vh;
}

.chartaki {
  height: 650px;
  width: 650px;
  margin-left: 100vh;
  margin-top: -45vh;
}

.citi {
  margin-left: 45vh;
  margin-top: 20vh;
}
.parti {
  margin-left: 40vh;
  margin-top: 15vh;
}
.btn-1 {
  margin-left: 86vh;
  margin-top: -10vh;
}
@media screen and (max-width: 700px) {
  .app {
    width: 115rem;
  }
  .btn-1 {
    margin-left: 96vh;
  }
}

@media screen and (max-width: 375px) {
  .app {
    width: 110rem;
  }
  .chartaki {
    margin-left: 105vh;
    margin-top: -60vh;
  }
}
